<div class="j-page">
  <div class="j-header"></div>
  <div class="j-bg"></div>
  <div class="j-body">
    <div>
      <form class="j-form form-group">
        <div class="username">
          <label>USERNAME</label>
          <input  class="form-control" type="text" placeholder="Enter username">
        </div>
        <div class="password"> 
          <label>PASSWORD</label>
          <input class="form-control" type="password">
        </div>
        <div class="button">
          <button class="j-button">Sign in</button>
          <button class="j-button j-button-signup">Sign up</button>
        </div>
      </form>
    </div>
  </div>
  <div class="j-footer">
    <a class="footer-style" href= "#">Forget your password? Click here to reset your password.</a>
  </div>
</div>