<div class="j-page">
  <div class="j-header"></div>
  <div class="j-bg"></div>
  <div class="j-body">
    <div class="j-form form-group">
      <div class="username">
        <label>USERNAME</label>
        <input  class="form-control" type="text" placeholder="Enter username" #username>
      </div>
      <div class="password"> 
        <label>PASSWORD</label>
        <input class="form-control" type="password" #password>
      </div>
      <div class="button">
        <button class="j-button" (click)="verifyCredentials(username.value, password.value)">Sign in</button>
        <button class="j-button j-button-signup">Sign up</button>
      </div>
    </div>
  </div>
  <div class="j-footer">
    <a class="footer-style" href= "#">Forget your password?</a>
  </div>
</div>